extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
    include ../static/style.css

block content 
    
    section#introSection
        div#opening Welcome To Sumant's Dance Academy 
        div Eat Sleep Dance Repeat.
    section#VisionSection
        h1 Our Vision
        div.container 
            div.card
                h2  Perfect Dance
                div.card-box 
                    div.card-img 
                        img(src="/static/img/1.png")
                    div.card-content 
                        p Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. 
            div.card
                h2  Your Way
                div.card-box 
                    div.card-img 
                        img(src="/static/img/2.png")
                    div.card-content 
                        p Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.
            div.card
                h2  Expert Assistance
                div.card-box 
                    div.card-img 
                        img(src="/static/img/3.png")
                    div.card-content 
                        p Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.
    section#sponsorsSection
        h1 Our Sponsors
        div#sponsors 
            img(src="/static/img/spon1.jpg" alt="Sponsor Image" class="spimg")
            img(src="/static/img/spon2.jpg" alt="Sponsor Image" class="spimg")
            img(src="/static/img/spon3.png" alt="Sponsor Image" class="spimg")
            img(src="/static/img/spon4.jpg" alt="Sponsor Image" class="spimg")
