//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#introSection
        div#opening Welcome To Sumant's Dance Academy 
        div Eat Sleep Dance Repeat.
    section#VisionSection
        h1 Our Vision
        div.container 
            div.card
                h2  Perfect Dance
            div.card
                h2  Your Way
            div.card
                h2  Expert Assistance
    section#sponsorsSection
        h1 Our Sponsors
    footer#footer
        | our footer here
    script
      include ../static/index.js